<?xml version="1.0"?>

<model>
  <name>habitat_demonstration_unit</name>
  <version>1.0</version>
  <sdf version="1.6">habitat_demonstration_unit.sdf</sdf>
  
  <author>
    <name>Martin Huber</name>
    <email>m.huber_1994@hotmail.de</email>
  </author>

  <description>
    Habitat demonstration unit, obtained from https://nasa3d.arc.nasa.gov/detail/nmss-hdu
    GitHub: https://github.com/nasa/NASA-3D-Resources/tree/master/3D%20Models/Habitat%20Demonstration%20Unit
  </description>
</model>
