<?xml version="1.0"?>

<model>
  <name>heicub without weights</name>
  <version>1.0</version>
  <sdf version="1.6">heicub.sdf</sdf>

  <author>
    <name>Martin Huber</name>
    <email>m.huber_1994@hotmail.de</email>
  </author>

  <description>
    Model for humanoid robot heicub.
  </description>
</model>
