<?xml version="1.0"?>

<model>
  <name>calibration_plane</name>
  <version>1.0</version>
  <sdf version="1.6">calibration_plane.sdf</sdf>

  <author>
    <name>Martin Huber</name>
    <email>m.huber_1994@hotmail.de</email>
  </author>

  <description>
    Flat model of a ground with a line to follow.
  </description>
</model>	
