<?xml version="1.0"?>

<model>
  <name>space_exploration_vehicle</name>
  <version>1.0</version>
  <sdf version="1.6">space_exploration_vehicle.sdf</sdf>
  
  <author>
    <name>Martin Huber</name>
    <email>m.huber_1994@hotmail.de</email>
  </author>

  <description>
    Space exploration vehicle, obtained from https://nasa3d.arc.nasa.gov/detail/nmss-sev
    GitHub: https://github.com/nasa/NASA-3D-Resources/tree/master/3D%20Models/Space%20Exporation%20Vehicle
  </description>
</model>
