<?xml version="1.0"?>

<model>
  <name>mars_surface</name>
  <version>1.0</version>
  <sdf version="1.6">mars_surface.sdf</sdf>

  <author>
    <name>Martin Huber</name>
    <email>m.huber_1994@hotmail.de</email>
  </author>

  <description>
    Model of the mars surface. Downloaded from https://www.solarsystemscope.com/textures/
  </description>
</model>	
