<?xml version="1.0"?>

<model>
  <name>goal</name>
  <version>1.0</version>
  <sdf version="1.6">goal.sdf</sdf>

  <author>
    <name>Martin Huber</name>
    <email>m.huber_1994@hotmail.de</email>
  </author>

  <description>
    Spherical goal with some red coloured chessboard texture to it.
  </description>
</model>	
